@model List<MovieModel>
denemee
<table class="table table-hover table-sm">
    <thead>
        <tr>
            <th>Fullname</th>
            <th>Username</th>
            <th>Locked</th>
            <th>Role</th>
            <th>Created At</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (MovieModel movie in Model)
        {
            <tr>
                <td>@movie.MovieName</td>
                <td>@movie.Yonetmen</td>
            </tr>
        }
    </tbody>
</table>